{% load static %}
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
<head>
    <ul>
        {% if request.user.is_authenticated%}
        
        <li> <a href="{% url 'logout' %}">Logout</a> </li>
            {%else %}
        <li>  <a href="{% url 'login' %}">Login</a> </li>
        {%endif%}
        <li>   <p class="user">{{request.user}}</p> </li>
    </ul>
</head>
<body>
    <div class="container">
        <img class="banner" src="{% static 'images/To-do-list.png' %}">
        
        <div class="add_task"><a href="{% url 'task-create' %}"> Add Task</a></div>
            
                {% for task in tasks%}
                    <div class="tasks">
                        <div class="title"> <p> {{task.title}}</p></div>
                        <br>
                        <div class="description"> <p> {{task.description}}</p></div>
                        <a href="{% url 'task-update' task.id %}"><i class="uil uil-edit"></i></a>
                        <a href="{% url 'task-delete' task.id %}"><i class="uil uil-trash-alt"></i></a>
                    </div>
                    {% empty %}
                    <h3>No items in list</h3>
                {%endfor%}
                </div>
    </div>

</body>











